/**
 * @title gridoCSS
 * @author Giovanni Bieller
 * @wesite http://giovannibieller.me
 * @email giovanni.bieller@gmail.com
 */
@import './utils/mixins';
.grido {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    &.grido--nowrap {
        flex-wrap: nowrap;
    }
    &.grido--col {
        flex-direction: column;
    }
    &.grido--end {
        justify-content: flex-end;
    }
    &.grido--start {
        justify-content: flex-start;
    }
    &.grido--around {
        justify-content: space-around;
    }
    &.grido--center {
        justify-content: center;
    }
    &.grido--v_center {
        align-items: center;
    }
    &.grido--v_start {
        align-items: flex-start;
    }
    &.grido--v_end {
        align-items: flex-end;
    }
    &.grido--v_stretch {
        align-items: stretch;
    }
    @include media-query('md') {
        &.grido_md--end {
            justify-content: flex-end;
        }
        &.grido_md--start {
            justify-content: flex-start;
        }
        &.grido_md--around {
            justify-content: space-around;
        }
        &.grido_md--between {
            justify-content: space-between;
        }
        &.grido_md--v_center {
            align-items: center;
        }
        &.grido_md--v_start {
            align-items: flex-start;
        }
        &.grido_md--v_end {
            align-items: flex-end;
        }
        &.grido_md--v_stretch {
            align-items: stretch;
        }
        &.grido_md--col {
            flex-direction: column;
        }
        &.grido_md--row {
            flex-direction: row;
        }
        &.grido_md--wrap {
            flex-wrap: wrap;
        }
        &.grido_md--nowrap {
            flex-wrap: nowrap;
        }
    }
    @include media-query('sm') {
        &.grido_sm--end {
            justify-content: flex-end;
        }
        &.grido_sm--start {
            justify-content: flex-start;
        }
        &.grido_sm--around {
            justify-content: space-around;
        }
        &.grido_sm--between {
            justify-content: space-between;
        }
        &.grido_sm--v_center {
            align-items: center;
        }
        &.grido_sm--v_start {
            align-items: flex-start;
        }
        &.grido_sm--v_end {
            align-items: flex-end;
        }
        &.grido_sm--v_stretch {
            align-items: stretch;
        }
        &.grido_sm--col {
            flex-direction: column;
        }
        &.grido_sm--row {
            flex-direction: row;
        }
        &.grido_sm--wrap {
            flex-wrap: wrap;
        }
        &.grido_sm--nowrap {
            flex-wrap: nowrap;
        }
    }
}
.grido--pads {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    > [class*='gc_'] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
.grido > [class*='gc_'] {
    box-sizing: border-box;
}
.grido--auto {
    > [class*='gc_'] {
        flex: 0;
    }
}
@include grido-generator('');
@include grido-generator-auto('');
@include grido-generator-fill('');
@include grido-generator-grows('grow', '');
@include grido-generator-order('order', '');
@include media-query('md') {
    @include grido-generator('md');
    @include grido-generator-auto('md');
    @include grido-generator-fill('md');
    @include grido-generator-grows('grow', 'md');
    @include grido-generator-order('order', 'md');
}
@include media-query('sm') {
    @include grido-generator('sm');
    @include grido-generator-auto('sm');
    @include grido-generator-fill('sm');
    @include grido-generator-grows('grow', 'sm');
    @include grido-generator-order('order', 'sm');
}
