@mixin grido-generator($dimension) {
    @for $i from 1 through 12 {
        @if $i !=1 and $i !=11 {
            @if $dimension!='' {
                .gc_#{$i}_#{$dimension} {
                    flex-basis: (($i / 12) * 100) + %;
                    max-width: (($i / 12) * 100) + %;
                }
            }
            @else {
                .gc_#{$i} {
                    flex-basis: (($i / 12) * 100) + %;
                    max-width: (($i / 12) * 100) + %;
                }
            }
        }
    }
}

@mixin grido-generator-percent($dimension) {
    @for $i from 1 through 100 {
        @if $i%5==0 {
            @if $dimension!='' {
                .gc_#{$i}_#{$dimension}-p {
                    flex-basis: $i + %;
                    max-width: $i + %;
                }
            }
            @else {
                .gc_#{$i}-p {
                    flex-basis: $i + %;
                    max-width: $i + %;
                }
            }
        }
    }
}

@mixin grido-generator-special($class, $width, $dimension) {
    @if $dimension!='' {
        .gc_#{$class}_#{$dimension} {
            flex-basis: $width;
            max-width: $width;
        }
    }
    @else {
        .gc_#{$class} {
            flex-basis: $width;
            max-width: $width;
        }
    }
}

@mixin grido-generator-grows($class, $dimension) {
    @for $grow from 1 through 5 {
        @if $dimension!='' {
            .gc_#{$class}_#{$grow}_#{$dimension} {
                flex: $grow;
            }
        }
        @else {
            .gc_#{$class}_#{$grow} {
                flex: $grow;
            }
        }
    }
}

@mixin grido-generator-order($class, $dimension) {
    @for $order from 1 through 10 {
        @if $dimension!='' {
            .gc_#{$class}_#{$order}_#{$dimension} {
                order: $order;
            }
        }
        @else {
            .gc_#{$class}_#{$order} {
                order: $order;
            }
        }
    }
}

$breakpoints: ('sm' 'screen and (max-width: 767px)', 'md' 'screen and (max-width: 991px)') !default;
@mixin media-query($mq) {
    $breakpoint-found: false;
    @each $breakpoint in $breakpoints {
        $alias: nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);
        @if $mq==$alias and $condition {
            $breakpoint-found: true;
            @media #{$condition} {
                @content;
            }
        }
    }
    @if $breakpoint-found==false {
        @warn "Oops! Breakpoint ‘#{$mq}’ does not exist.";
    }
}

@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}